  <div class="container footer">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">
          <h5 class="footer-title">ABOUT US</h5>
          <div>
            <ul>
              <li>Contact</li>
              <li>About</li>
              <li>Terms & Conditions</li>
            </ul>
          </div>
          </div>
          <div class="col-md-4">
            <h5 class="footer-title">DESTINATIONS</h5>
            <div>
            <ul>
              <li>Barcelona</li>
              <li>Tenerife</li>
              <li>Lisbon</li>
            </ul>
          </div>
          </div>
          <div class="col-md-4">
            <h5 class="footer-title">TYPES OF BOATS</h5>
            <div>
            <ul>
              <li>Sailboat</li>
              <li>Catamaran</li>
              <li>RIB</li>
            </ul>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 follow-us">
        <h5 class="">FOLLOW US  </h5>
        <ul class="social-media">
          <li>
            <%= link_to '<i class="social-link fa fa-facebook"></i>'.html_safe, boats_path %>
          </li>
          <li>
            <%= link_to '<i class="social-link fa fa-twitter"></i>'.html_safe, boats_path %>
          </li>
          <li>
            <%= link_to '<i class="social-link fa fa-linkedin"></i>'.html_safe, boats_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>



