    <div class="container footer">
<!--   <div class="footer"> -->

    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">
          <div class="title">ABOUT US</div>

          <div>
            <ul>
              <li>Contact</li>
              <li>About</li>
              <li>Terms & Conditions</li>
            </ul>
          </div>
          </div>
          <div class="col-md-4">
            <div class="title">DESTINATIONS</div>

                    <div>
            <ul>
              <li>Barcelona</li>
              <li>Tenerife</li>
              <li>Lisbon</li>
            </ul>
          </div>
          </div>
          <div class="col-md-4">
            <div class="title">TYPES OF BOATS</div>

                    <div>
            <ul>
              <li>Sailboat</li>
              <li>Catamaran</li>
              <li>RIB</li>
            </ul>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 follow-us">
        FOLLOW US
        <ul class="social-media">
          <li>
            <%= link_to '<i class="social-link fa fa-facebook"></i>'.html_safe, boats_path %>
          </li>
          <li>
            <%= link_to '<i class="social-link fa fa-twitter"></i>'.html_safe, boats_path %>
          </li>
          <li>
            <%= link_to '<i class="social-link fa fa-linkedin"></i>'.html_safe, boats_path %>
          </li>
        </ul>
      </div>
<!--     </div> -->
  </div>
</div>



