.user-card {
  background-color: #F7F7F7;
  position: relative;
  border: 1px solid #b88525;
  border-radius: 3px;
  padding: 10px;
  .edit-user {
    font-size: 12px;
    position: absolute;
    right: 10px;
    bottom: 15px;
  }
  .user-photo {
  position: absolute;
  top: 15px;
  right: 10px;
  }
  .user-info {
    padding: 5px;
    margin-right: 5px;
    p {
      font-size: 14px;
    }
  }
}
.reservation-dates {
  color: #3e3e3e;
  position: absolute;
  right: 0;
  bottom: 10px;
}
.reservation-number {
  position: absolute;
  top: -210px;
  color: #3e3e3e;
}
.reservation-status {
  position: absolute;
  top: -210px;
  right: 0;
  color: #3e3e3e;
}
.reservation-card-padding-on-top {
  padding-top: 40px;
}
.add-boat-button-user-page {
  padding: 20px;
}
