.follow-us {
  text-align:center;
}

.footer {
  background-color: #fbfaf8;
  height:100px;
  color: #A7A398;
  justify-content: space-between;
  border-top: 1px solid rgba(184,133,37,0.3);
  width:100vw;
      padding-left: 40px;
    padding-top: 30px;

}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.navbar-wagon-link {
  color: #b88525;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #b88525;
  text-decoration: none;
  border-color: white;
}

.social-media {
  margin-top: 15px;
}

.social-media li {
  display: inline-block;
  margin: 0 12px 18px 0;
}

.social-link {
  text-align: left;
  color: #b88525;
  display: inline-block;
  width: 27px;
  height: 25px;
}

.social-link:hover {
    color: #857f70;
    text-decoration: none;
}


.title:after {
    content: "";
    display: block;
    height: 1px;
    width: 30%;
    background: #857f70;
}
