/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
.padded-little {
  padding-top: 10px;
  padding-bottom: 10px;
}

.bg-wrapper {
  background-size: cover;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
  url( http://localhost:3000/assets/background-16c83dee998191624b64653b64461ea134fac573c07d5a6e378be4e360218de4.jpg);
}
