/* Banner design */
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

/* Your form design */
// .text-center {
//   font-weight: bold;
//   padding:10px;
// }

// .form-group {
//   margin-bottom: 15px;
// }
.search-form {
  // background-color: rgba(247,247,244,0.5);
  padding: 35px;
  color: #b88525;
  margin-top: 100px;
  width: 500px;
  margin: 0 auto;
}

.location {
  font-weight: 300;
  height:40px;
  color: #b88525;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #fbfaf8;
  -webkit-appearance: none;
  border: 1px solid #b88525;
}

// #booking {
//   position: absolute;
//   color: #b88525;
//   bottom: 40px;
//   width: 1000px;
//   height: 102px;
//   z-index: 10;
  // background: rgba(247,247,244,0.8);
// }

.button-book-online {
  background: #fbfaf8;
  margin-left: 40px;
  color: #b88525;
  font-weight: 300;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  border: 1px solid #b88525;
  font-size: 14px;
  height: 40px;
  cursor: pointer;
  padding: 10px;
    // display: block;
    -webkit-appearance: none;

  }


.button-book-online:hover {
    background: #b88525;
    color: #fbfaf8;
  }

.boat-banner {
  color: white;
  text-align: center;
  height: 500px;
  width: 100vw;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: contain !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container h3 {
  color: #b88525;
  margin-bottom: 30px;
}

.button-book-boat {
  background: #fbfaf8;
  margin-top: 35px;
  padding: 10px;
  color: #b88525;
  font-weight: 300;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  border: 1px solid #b88525;
  font-size: 14px;
  height: 40px;
  cursor: pointer;
  -webkit-appearance: none;
}

.button-book-boat:hover {
    background: #b88525;
    color: #fbfaf8;
  }
  .container-logo {
    margin-top:20px;
    margin-bottom:20px;
  }


.add-boat-banner {
  background-image: image-url('speed-boat.jpg');
  }
  .wrapper_add {
  padding-top: 150px;
  padding-bottom: 100px;
  }



