.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.basic-gold-box {
  padding: 25px;
  background: rgba(189, 189, 161, 0.298039);
  border-left: rgba(189, 189, 161, 0.298039) solid 10px;
}
