.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.basic-gold-box {
  padding: 25px;
  background: rgba(238, 238, 238, 0.85);
  border-left: rgba(179, 189, 161, 0.898039) solid 10px;
}
