.gold-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 0px;
  line-height: 40px;
  background-color: white;
  color: #b88525;
  font-size: 14px;
  border: 1px solid #b88525;
}

.gold-button:hover {
  color: white;
  background: #b88525;
  border-color: white;
}
