.input-max-width {
  background-color: red !important;
  width: 100px !important;
}
.select{
  border-radius: 0px;
  -webkit-appearance: none;
}

.btn-default{

  line-height: 36px !important;

}

.form_fields{
  background-color: white !important;
  border: 1px solid #b88525 !important;
  border-radius: 0px !important;
  font-size: 14px !important;
  font-weight: lighter;
  margin: 0 10px;
}
