.add-boat-banner {
  background-image: image-url('speed-boat.jpg');
}

.add-boat-wrapper {
  padding-top: 130px;
  padding-bottom: 100px;
}

.golden-input {
  color: #857f70;
}

.add-boat-form-box {
color: #857f70;
}

.add-boat-form-box h1, p {
  text-align:center;
}
