
<div class='add-boat-banner'>

</div>


<<<<<<< HEAD
<div class="wrapper_add">
=======
<div class="add-boat-wrapper">
>>>>>>> a04d72a477731acec159bd9741dde550dae095e4
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-3 col-sm-6">
        <div class="add-boat-form-box">

          <h1>Edit your boat</h1>
<<<<<<< HEAD

          <%= render 'edit_form' %>
=======
          <%= render 'form' %>
>>>>>>> a04d72a477731acec159bd9741dde550dae095e4
        </div>
      </div>
    </div>
  </div>
</div>

