
<div class='add-boat-banner'>

</div>


<div class="add-boat-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-3 col-sm-6">
        <div class="add-boat-form-box">

          <h1>Edit your boat</h1>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$('.cloudinary-fileupload').fileupload('option', 'replaceFileInput', false);
</script>
