<div class="wrapper">
  <div class="container-fluid">
    <div class="row boat-index-row">

      <!-- MAP PORTION OF PAGE -->

      <div class="col-sm-4">
        <div class="map-float"><!--start map -->
          <div id="map">
            <% content_for(:after_js) do %>
              <%= javascript_tag do %>
              $(document).ready(function() {
              var handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
              }
            });
          });
          <% end %>
          <% end %>
          </div>
        </div><!--end map -->
      </div>

      <!-- RESULTS PORTION OF PAGE -->

      <div class="col-sm-8">
        <div class="boat-search-form">
          <%= render 'search_bar' %>
        </div>

        <div class="boat-search-results">
          <% @boats.first(6).each do |boat| %>
              <%= render "boat_search_result_card", boat: boat %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
