<!-- BOAT MAP implementation  -->
<div class="container">
<div class="row">
  <!-- END BOAT MAP implementation -->
  <div class="results-left">
    <div class="search-form-boats">
      <div class="col-md-10 col-md-offset-1">
        <%= render 'search_bar' %>
      </div>
    </div>
    <div class="boat-results">
      <% @boats.first(6).each do |boat| %>
        <div class="col-md-4 col-md-offset-1">
          <%= render "show_card", boat: boat %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="map-right">
    <div id="map"></div>
    <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });
    <% end %>
  <% end %>
  </div>


</div>
</div>

