<h1>All Boats</h1>
<h2>Find the perfect boat for your adventure<h2>

<div class="jumbotron">

</div>

<wrapper>
  <container>
    <div class="col-xs-12 col-sm-8-col sm-offset-2">
      <% @boats.each do |boat| %>
        <%= render :show_card, boat: boat %>
    </div>
  </container>
</wrapper>
