
<div class='add-boat-banner'>

</div>

<div class="wrapper add-boat-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-3 col-sm-6">
        <div class="add-boat-form-box">

          <h1>Add Your Boat</h1>
          <p>Rent your boat to individuals or groups.</p>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>


